venv/*
jax/*
dgl/
nohup.out
.env
*.vtu
*.pth
.pytest_cache/
.benchmarks/
**/__pycache__/

.DS_Store
.idea/
meshes/

checkpoints/*
dataset/*
test.sh
wandb/*
dataset_up/*
dataset_down/*
*.json
*.sh
*.png